* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #F0F2F5;
  --backgroundInputBorder: #D7D7D7;
  --backgroundInput: #E7E9EE;
  --text: #969CB3;
  --title: #363F5F;
  --red: #E62E4D;
  --blue: #5429CC;
  --blueBtn: #6933FF;
  --green: #33CC95;
  --white: #FFFFFF;
}
html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  --webkit-font-smoothing: antialiased;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
button {
  cursor: pointer;
  border: none;
}
[disabled] {
  opacity: .5;
  cursor: pointer;
}
.newTransationModal {
  max-width: 37rem;
  width: 100%;
  background-color: var(--background);
  border-radius: .3rem;
  padding: 3rem;
}
.overlayModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}